---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="page-copy">
    <a class="home-email" href="mailto:contact@ridhwanzaman.me" aria-label="contact at ridhwanzaman dot me"
      >contact[at]ridhwanzaman.me</a
    >
    <a class="home-blog" href="/blog">my blog</a>
  </main>
</Layout>
